@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/SFProText-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Regular weight */
}

/* Light weight */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/SFProText-Light.ttf') format('truetype');
    font-weight: 300;
    /* Light weight */
}

/* Semibold weight */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/SFProText-Semibold.ttf') format('truetype');
    font-weight: 600;
    /* Semibold weight */
}

/* Bold weight */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/SFProText-Bold.ttf') format('truetype');
    font-weight: 700;
    /* Bold weight */
}

/* Heavy weight */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/SFProText-Heavy.ttf') format('truetype');
    font-weight: 800;
    /* Heavy weight */
}

/* Black weight */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/SFProText-Black.ttf') format('truetype');
    font-weight: 900;
    /* Black weight */
}

/* Italic */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/SFProText-Italic.ttf') format('truetype');
    font-weight: 400;
    /* Regular weight */
    font-style: italic;
}

/* Bold Italic */
@font-face {
    font-family: 'SF Pro';
    src: url('/fonts/SF\ Pro/') format('truetype');
    font-weight: 700;
    /* Bold weight */
    font-style: italic;
}

@font-face {
    font-family: "Sign Painter";
    src: url("/fonts/Sign\ Painter/SignPainter.ttf") format("truetype");
}