@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: rgb(224, 84, 107);
    /* Icon background */
    color: white;
    /* Icon color */
    border-radius: 50%;
    /* Make it circular */
    padding: 5px;
    cursor: pointer;
}

.range::-webkit-slider-thumb {
    width: 16px;  /* Make the thumb smaller */
    height: 16px;
    border-radius: 50%; /* Make it circular */
}

  .range::-moz-range-thumb {
    width: 16px;  /* Make the thumb smaller */
    height: 16px;
    border-radius: 50%; /* Make it circular */
}

  .range::-ms-thumb {
    width: 16px;  /* Make the thumb smaller */
    height: 16px;
    border-radius: 50%; /* Make it circular */
}

.liveBlink {
  animation: blink 1s alternate infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
